/****************************

Stylesheet: Layout

*****************************/

/*------------------------------------*\
   Custom Layout Classes
\*------------------------------------*/

.section {
  width: 100%;
  float: left;
  clear: both;
}

.wrap {
  width: 100%;
  float: left;
  clear: both;
}
